* {
    font-family: 'Staatliches', cursive;
    margin: 0 auto;
    padding: 0;
}

.max-width {
    max-width: 1200px;
}

body {
    background-color: rgb(32, 139, 158);
}

.area_contato {
    margin-top: 150px;
    text-align: center;
    width: 650px;
}

.area_contato label {
    font-size: 30px;
}

.area_contato label input {
    width: 220px;
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.area_contato label input:focus,
label select:focus {
    border: 2px solid rgb(15, 34, 119);
}

.area_contato label select {
    width: 220px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.entrecontato h2 {
    display: inline;
    padding: 5px;
}

.gridbottom {
    padding-top: 10px;
}

textarea {
    width: 100%;
}

.buttonenviar {
    width: 100px;
    background-color: rgb(1, 5, 7);
    color: white;
}

.buttonenviar:hover {
    color: rgb(16, 135, 172);
}

.valido {
    color: green;
}